/*Colorets {atributos:valores};*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .tachado {

    text-decoration: line-through;
  }


  .negritas {
    
    font-weight: bold;
  }

  body {
    background-color: aquamarine;
  }